<section class="form">
  <div class="form__header">
    <h1 class="header__text">Zadaj pytanie </h1>
    <div class="header__contact">
      <span class="contact__phone">
        <img src="./assets/phoneIcon.png" alt="telefon">
        <p>666666666</p>
      </span>
      <span class="contact__email">
        <img src="./assets/mail.png" alt="e-mail">
        <p>karol.moleda90@gmail.com</p>
      </span>
      <span class="contact__facebook">
        <img src="./assets/facebook.png" alt="facebook">
        <p>Dolinka-nasze wspólne miejsce</p>
      </span>
    </div>
  </div>
    <form>
      <h2>Formularz</h2>
      <div>
        <div>
          <p>Imię</p>
          <input type="text">
        </div>
        <div>
          <p>e-mail</p>
          <input type="text">
        </div>
      </div>
      <div>
        <p>Temat</p>
        <input type="text">
      </div>
      <div>
        <p>Wiadomość</p>
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </div>
    </form>
    <div>
      <img src="" alt="">
    </div>

</section>
