@mixin font {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
}

@mixin border {
  background: #FFFFFF;
  border: 1px solid #9D9D9C;
  box-sizing: border-box;
  border-radius: 12px;
  width: 100%;
}

@mixin placeholder {
  font-weight: normal;
  font-size: 16px;
  color: #19212B;
}

html{
  height: 100%;
}
.mat-body{
  .mat-typography {
    background-color: #99B998;
  }
}


.form {
  padding-top: 50px;
  background-color: #99B998;

  .form__menu {
    position: absolute;
    top: 5%;
    left: 10%;
  }

  .form__header {
    display: flex;
    flex-direction: column;

    @media screen and (max-width:800px) {
      margin-top: 100px;
    }

    .header__text {
      margin-left: auto;
      margin-right: auto;
      font-family: 'Dancing Script', cursive;
      font-size: 40px;
      margin-bottom: 30px;
    }

    .header__contact {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 50px;

      @media screen and (max-width:800px) {
        flex-direction: column;
        gap: 40px;
      }

      span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          border-radius: 8px;
          height: 50px;
          margin-bottom: 8px;
        }

        p {
          display: none;
          font-family: Luminari, fantasy;
          font-size: 18px;
        }

        .active {display: flex}
      }
    }
  }

  .form__container {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;

    @media screen and (max-width:800px) {
      flex-direction: column;
    }

    .container__form {
      width: 50%;
      margin-left: 15%;
      
      @media screen and (max-width:800px) {
        width: 90vw;
        margin-left: 0;
        padding-left: 16px;
        padding-right: 16px;
      }

      .container__title {
        @include font
      }

      .container__personals {
        @include font;

        p {
          margin-bottom: 5px;
          margin-top: 20px;
        }

        input {
          @include border;
          padding: 12px;

          &::-webkit-input-placeholder {
            @include placeholder
          }
        }
      }

      .container__questions {
        @include font;

        p {
          margin-bottom: 5px;
          margin-top: 20px;
        }

        input {
          @include border;
          padding: 12px;

          &::-webkit-input-placeholder {
            @include placeholder
          }
        }
      }

      .questions__message {
        @include font;

        p {
          margin-bottom: 5px;
          margin-top: 20px;
        }

        textarea {
          @include border;
          width:100%;
          padding: 12px;

          &::placeholder {
            @include placeholder
          }
        }
      }

      .questions__button {
        background: #4A4A49;
        border-radius: 4px;
        color:white;
        padding: 8px 12px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 5px;
        margin-top: 5px;
        margin-left: 70%;
        width: 180px;

        @media screen and (max-width:800px) {
          margin-left: 0;
          margin-bottom: 32px;
          margin-top: 32px;
        }
      }
    }

    .form__image {
      width: 50%;
      margin-top: 5%;
      margin-left: 5%;

      @media screen and (max-width:800px) {
        width: 90vw;
        margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
      }

      img {
        height: 500px;
        border-radius: 20px;

        @media screen and (max-width:800px) {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

}
