<section class="form">
  <span class="form__menu" routerLink="/main"  (click)="sendFlag()">
    <fa-icon  class="fa-3x" [icon]="iconsMenu"></fa-icon>
  </span>
  <div class="form__header">
    <h1 class="header__text">Zadaj pytanie </h1>
    <div class="header__contact">
      <span class="contact__phone">
        <img src="./assets/phoneIcon.png" alt="telefon">
        <p>508257011</p>
      </span>
      <span class="contact__email">
        <img src="./assets/mail.png" alt="e-mail">
        <p>karol.moleda90@gmail.com</p>
      </span>
      <span class="contact__facebook">
        <img src="./assets/facebook.png" alt="facebook">
        <p>Dolinka-nasze wspólne miejsce</p>
      </span>
    </div>
  </div>
  <div class="form__container">
    <form class="container__form">
      <h2 class="container__title">Formularz</h2>
      <div class="container__personals">
        <div class="personals__name">
          <p>Imię:</p>
          <input type="text" placeholder="Podaj swoje imię">
        </div>
        <div class="personals__email">
          <p>E-mail:</p>
          <input type="text" placeholder="Podaj swój e-mail">
        </div>
      </div>
      <div class="container__questions">
        <p class="questions__topic">Temat:</p>
        <input type="text" placeholder="Podaj temat pytania">
      </div>
      <div class="questions__message">
        <p>Wiadomość</p>
        <textarea name="" id="" cols="30" rows="10" placeholder="Podaj treść wiadomośći "></textarea>
      </div>
      <button class="questions__button">Wyślij</button>
    </form>
    <div class="form__image">
      <img src="./assets/question-ge48c41df2_1920.jpg" alt="">
    </div>
  </div>
</section>
