<div class="masonry-demo">

  <ngx-masonry [options]="masonryOptions" style="width: 90vw;" [ordered]="true" (itemsLoaded)="itemsLoaded()">
    <div *ngFor="let image of masonryImages;index as idx"  ngxMasonryItem style="width: 30%;">
      <img [src]="image[1]" width="100%">
    </div>
  </ngx-masonry>

  <button *ngIf="limit < 100" (click)="showMoreImages()">Show More Images</button>
  <button *ngIf="limit < 100" (click)="insertImage()">Insert Image</button>
  <button *ngIf="masonryImages" (click)="removeImage()">Remove Image</button>
  <h2 *ngIf="limit >= 100">No More Images</h2>
</div>
