.photoPage__content {
  max-width: 1440px;
  margin: 36px auto;
}

.photoPage__content {
  width: 100vw;

  @media screen and (max-width:800px) {
    margin-left: 50px;
  }
}

.closeIcon {
  padding-bottom: 20px;
}