<div class="snote" *ngIf="!flagNews">
  <div class="closeIcon" routerLink="/">
    <i class="fas fa-3x fa-bars"></i>
  </div>
  <ul >
    <li *ngFor="let item of newsList">
      <a>
        <h2>{{item.title}}</h2><hr />
        <p>{{item.date}}</p>
        <p>{{item.time}}</p>
        <button class="btn btnAccept" (click)="openNews()">Dowiedz się więcej</button>
      </a>
    </li>
  </ul>
</div>

<section class="content-wrapper" *ngIf="flagNews">
  <div class="content__nav" (click)="closeNews()"><i class="fas fa-3x  fa-arrow-left"></i><img src="./assets/logo%20dolinki.jpg" alt="logo Dolinki"></div>
  <div class='post-it' contenteditable>
    <h1>Święto ksiązki </h1>
    <ul>
      <p>Zapraszamy Wszystkich na to wspaniałe święto !!! </p>
    </ul>
  </div>
</section>
