<nav class="page">
  <section class="page__main" [ngClass]="{'deactiveSection':flagMenuActive}">
    <img src="./assets/dolinka.jpg" alt="">
    <p class="main__description" (click)="activeMenu()">DOLINKA</p>
  </section>
  <section class="page__navigation" [ngClass]="{'activeSection':flagMenuActive}" >
    <ul class="navigation__ul" >
      <li class="navigation__history">
        <a data-content="... i nie tylko" routerLink="/historyPage">Historia</a>
      </li>
      <li class="navigation__management">
        <a data-content="... Wasi przyjaciele" routerLink="/managment">Zarząd</a>
      </li>
      <li class="navigation__news">
        <a data-content="... to co Was interesuje" routerLink="/newsPage">Aktualności</a>
      </li>
      <li class="navigation__picture">
        <a data-content="... znajdziesz siebie? " routerLink="/photosGallery">Zdjęcia</a>
      </li>
      <li class="navigation__question">
        <a data-content="... wolimy w 4 oczy :)" routerLink="/formPage">Pytania</a>
      </li>
    </ul>
  </section>
</nav>

